<div class="view">
	<header role="toolbar" class="appBar z2">
		<a role="button" href="#/home" title="Back"><img src="/static/images/icon_back.png" alt="Back" /></a>
		About
	</header>
	<section class="card z1">
		<h2 style="margin-top: 0;">Story</h2>
		<p>
			Doctor Magnethands is a game in which you play as superheroes trying to save the world from the evil Dr. Magnethands by stopping him firing his rocket-powered radioactive castle on the moon into the White House on Christmas Eve.
		</p>
	</section>
</div>
