<div class="view">
	<header role="toolbar" class="appBar z2">
		<a role="button" href="#/home" title="Back"><img src="/static/images/icon_back.png" alt="Back" /></a>
		About
	</header>
	<section class="card z1">
		<h2 style="margin-top: 0;">Story</h2>
		<p>
			You are a team of superheroes who must stop Dr. Magnethands from launching his rocket-powered radioactive castle on the moon into the White House on Christmas Eve.
		</p>
	</section>
	<section class="card z1">
		<h2 style="margin-top: 0;">How to play</h2>
		<p>
			After you join a game, you will be asked to enter eight things.  Those Things can be whatever you want&mdash;names, identities, abilities, props, plot devices, or anything else you can think of.  Once each player has entered eight Things, the game can begin.
		</p>
		<p>
			Each player will be assigned four Things at random.  It is up to you how those define your character.  If you get &ldquo;a rusty spork&rdquo;, your character could own a rusty spork, have had a traumatic experience with a rusty spork, or even literally be a rusty spork.  Your call.
		</p>
		<p>
			The GM/host starts the story.  The host can draw from the remaining Things at any time, and they shape the plot.  At each phase, players must use their Things to defeat Dr. Magnethands's henchmen and, eventually, Dr. Magnethands himself.  If you run out of Things, you die.  If you get to the end and defeat Dr. Magnethands, you win!
		</p>
		<p>
			If you want, you can also read <a href="https://www.dropbox.com/s/swrsabebae8ydem/Doctor%20Magnethands.pdf" target="_blank">the original (tabletop) rules</a>.
		</p>
	</section>
	<section class="card z1">
		<h2 style="margin-top: 0;">Credits</h2>
		<p>
			The <a href="http://lookrobot.co.uk/doctor-magnethands/" target="_blank">original Doctor Magnethands game</a> was created by <a href="http://lookrobot.co.uk/about-grant-howitt/" target="_blank">Grant Howitt</a>.
		</p>
		<p>
			This app was developed by <a href="https://zmyaro.com" target="_blank">Zachary Yaro</a>.
		</p>
			The web app is built on <a href="https://angularjs.org" target="_blank">AngularJS</a> and runs on a <a href="https://python.org" target="_blank">Python</a> + <a href="https://cloud.google.com/appengine" target="_blank">Google App Engine</a> backend.
		<p>
	</section>
</div>
