<div class="view">
	<section style="text-align: center;">
		<h2>
			Are you drunk enough for this?
		</h2>
		<p style="font-style: italic;">
			Or otherwise in the right frame of mind?
		</p>
		<a role="button" href="#/home" class="z1">
			Yes
		</a><br /><a role="button" href="https://www.google.com/search?tbm=shop&q=beer" target="_blank" class="z1">
			No
		</a>
	</section>
	<div style="position: fixed; left: 110%;">
		<!-- Preload images -->
		<img src="/images/title.png" />
		<img src="/images/silhouette.png" />
		<img src="/images/header_bg.png" />
	</div>
</div>
