<div class="view">
	<section style="text-align: center;">
		<h2>
			Are you drunk enough for this?
		</h2>
		<a role="button" href="#/home" class="z1">
			Yes
		</a><br /><a role="button" href="https://www.amazon.com/b?node=2983387011" target="_blank" class="z1">
			No
		</a>
	</section>
	<div style="position: fixed; left: 110%;">
		<!-- Preload images -->
		<img src="/static/images/title.png" />
		<img src="/static/images/silhouette.png" />
		<img src="/static/images/header_bg.png" />
	</div>
</div>
