<div class="view noAppBar" style="text-align: center;">
	<header class="bgFill">
		<img src="/images/title.png" class="title" />
		<br />
		<img src="/images/silhouette.png" class="silhouette" />
	</header>
	<section>
		<a role="button" href="#/about" class="z1 homeButton">
			<svg style="margin-right: 0.2rem;" aria-hidden="true">
				<use xlink:href="images/icon_about.svg#icon" href="images/icon_about.svg#icon"></use>
			</svg>
			About
		</a><br /><a role="button" href="#/host/create" class="z1 homeButton">
			<svg style="margin-right: 0.6rem;" aria-hidden="true">
				<use xlink:href="images/icon_new.svg#icon" href="images/icon_new.svg#icon"></use>
			</svg>
			New
		</a><br /><a role="button" href="#/play/join" class="z1 homeButton">
			<svg style="margin-right: 0.5rem;" aria-hidden="true">
				<use xlink:href="images/icon_join.svg#icon" href="images/icon_join.svg#icon"></use>
			</svg>
			Join
		</a></section>
</div>
