<div class="view noAppBar" style="text-align: center;">
	<header class="bgFill" style="padding: 16px;">
		<img src="/static/images/title.png" style="width: 100%; max-width: 600px;" />
		<br />
		<img src="/static/images/silhouette.png" style="width: 100%; max-width: 600px;" />
	</header>
	<section style="margin-top: -32px;">
		<a role="button" href="#/about" class="z1">
			About
		</a><br /><a role="button" href="#" class="z1">
			New
		</a><br /><a role="button" href="#" class="z1">
			Join
		</a></section>
</div>
