<div class="view noAppBar" style="text-align: center;">
	<header class="bgFill">
		<img src="/static/images/title.png" style="width: 100%; max-width: 600px;" />
		<br />
		<img src="/static/images/silhouette.png" class="silhouette" style="width: 100%; max-width: 600px;" />
	</header>
	<section>
		<a role="button" href="#/about" class="z1">
			About
		</a><br /><a role="button" href="#/host/create" class="z1">
			New
		</a><br /><a role="button" href="#/play/join" class="z1">
			Join
		</a></section>
</div>
