<div class="view">
	<header role="toolbar" class="appBar z2">
		<a role="button" href="#/home" title="Cancel"><img src="/static/images/icon_back.png" alt="Cancel" /></a>
		Join game
	</header>
	<form data-ng-submit="onSubmit()">
		<section class="card z1">
			<h2 style="margin-top: 0;">Enter the room code</h2>
			<p style="text-align: center;">
				<input type="text" data-ng-model="gameCode" data-ng-disabled="disabled" maxlength="4" size="5" required="required" pattern="^[a-z0-9]{4}$" style="font-size: 150%;" autofocus="autofocus" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
			</p>
		</section>
		<p style="text-align: center; margin: 0;">
			<button type="submit" class="z1" data-ng-disabled="disabled">{{ buttonMessage || 'Join' }}</button>
		</p>
	</form>
</div>
