<div class="view">
	<header role="toolbar" class="appBar z2">
		<a role="button" href="#/home" title="Cancel"><img src="/static/images/icon_close.png" alt="Cancel" /></a>
		Make up some things
	</header>
	<form data-ng-submit="onSubmit()">
		<section class="card z1">
			<h2 style="margin-top: 0;">Joined game {{ gameCode }}</h2>
			<p>
				Before you start, write down eight things.  Listen to the suggestions in the text boxes, or ignore them and write whatever you want.  Be creative.
			</p>
			<p>
				Just try not to make them about anyone in the room.
			</p>
			<ol class="col2">
				<li data-ng-repeat="thing in things">
					<input type="text" class="thingInput" data-ng-model="thing.input" data-ng-disabled="disabled" maxlength="128" required="required" placeholder="{{ thing.placeholder }}" />
				</li>
			</ol>
		</section>
		<p style="text-align: center; margin: 0;">
			<button type="submit" class="z1" data-ng-disabled="disabled">{{ buttonMessage || 'Submit' }}</button>
		</p>
	</form>
</div>
