<div class="view">
	<header role="toolbar" class="appBar z2">
		<a role="button" href="#/home" title="Cancel"><img src="/static/images/icon_close.png" alt="Cancel" /></a>
		Choose some stuff
	</header>
	<form data-ng-submit="onSubmit()">
		<section class="card z1">
			<h2 style="margin-top: 0;">Joined game {{ gameId }}</h2>
			<p>Before the game can start, you must write eight things.  They can be names, abilities, props, plot devices, or anything else.</p>
		</section>
		<p style="text-align: center; margin: 0;">
			<button type="submit" class="z1">Submit</button>
		</p>
	</form>
</div>
