@charset "UTF-8";

body {
	background-color: #89c1e2;
	margin: 0;
	padding: 0;
}


button,
[role="button"] {
	padding: 16px 32px;
	min-width: 128px;
	max-width: 100%;
}

code {
	font-weight: bold;
}

.appBar {
	background-color: #5492bb;
	white-space: nowrap;
}
	.appBar button:first-child,
	.appBar *[role="button"]:first-child {
		margin-left: -8px;
	}

progress.circular {
	border-top-color: #5492bb;
}

.bgFill {
	background-image: url('/images/header_bg.svg');
	background-position: center;
	background-size: cover;
	
	-webkit-box-shadow: inset 0 -96px 48px -48px #89c1e2;
	   -moz-box-shadow: inset 0 -96px 48px -48px #89c1e2;
	        box-shadow: inset 0 -96px 48px -48px #89c1e2;
	
	padding: 16px;
	margin-bottom: -32px;
}
@media (max-height: 600px) {
	.bgFill {
		margin-bottom: -64px;
	}
}
@media (max-height: 520px) {
	.bgFill {
		margin-bottom: -128px;
	}
}
@media (max-height: 480px) {
	.silhouette {
		display: none;
	}
	.bgFill {
		padding-bottom: 144px;
		margin-bottom: -144px;
	}
}

section,
section.card {
	margin: 8px auto;
	max-width: 600px;
	-webkit-transition-property: opacity, -webkit-box-shadow, box-shadow;
	   -moz-transition-property: opacity, -moz-box-shadow, box-shadow;
	    -ms-transition-property: opacity, box-shadow;
	     -o-transition-property: opacity, box-shadow;
	        transition-property: opacity, box-shadow;
}

.view:not(.noAppBar) {
	padding: 16px;
	padding-top: 88px;
}
@media (max-width: 600px) {
	.view:not(.noAppBar) {
		padding: 8px;
		padding-top: 72px;
	}
}

.col2 {
	margin: 0 auto;
	padding-left: 0;
	height: 11em;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	-webkit-transition-duration: 0.25s;
	   -moz-transition-duration: 0.25s;
	    -ms-transition-duration: 0.25s;
	     -o-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}
	.col2 li {
		width: 45%;
		float: left;
		margin: 0 1% 1em 4%;
	}
		.col2 li input[type="text"] {
			width: 100%;
		}

@media (max-width: 600px) {
	.col2 {
		height: 22em;
	}
		.col2 li {
			width: 95%;
		}
}

.homeButton {
	text-align: left;
	padding: 16px 48px;
	min-width: 6em;
}
	.homeButton > img {
		height: 1.5em;
		margin: -0.4em 0.1em;
	}

.closeButtonToolbar {
	float: right;
	margin-top: -8px;
	margin-right: -16px;
	margin-left: -16px;
}

.used.card {
	opacity: 0.6;
}
	.used h1 {
		text-decoration: line-through;
	}
	.used .closeButtonToolbar {
		visibility: hidden;
	}
