@charset "UTF-8";

body {
	background-color: #89c1e2;
	margin: 0;
	padding: 0;
}


button,
*[role="button"] {
	padding: 16px 32px;
	min-width: 128px;
	max-width: 100%;
}

*[role="toolbar"] button img,
*[role="toolbar"] *[role="button"] img {
	height: 32px;
}

.appBar {
	background-color: #5492bb;
	white-space: nowrap;
}
	.appBar button:first-child,
	.appBar *[role="button"]:first-child {
		margin-left: -12px;
	}

progress.circular {
	border-top-color: #5492bb;
}

header.bgFill {
	background-image: url('/static/images/header_bg.png');
	background-position: center;
	background-size: cover;
}

section,
section.card {
	margin: 8px auto;
	max-width: 600px;
}

.view:not(.noAppBar) {
	padding: 16px;
	padding-top: 88px;
}
@media (max-width: 600px) {
	.view:not(.noAppBar) {
		padding: 8px;
		padding-top: 72px;
	}
}

.col2 {
	margin: 0 auto;
	padding-left: 0;
	height: 11em;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	-webkit-transition-duration: 0.25s;
	   -moz-transition-duration: 0.25s;
	    -ms-transition-duration: 0.25s;
	     -o-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}
	.col2 li {
		width: 45%;
		float: left;
		margin: 0 1% 1em 4%;
	}
		.col2 li input[type="text"] {
			width: 100%;
		}

@media (max-width: 600px) {
	.col2 {
		height: 22em;
	}
		.col2 li {
			width: 95%;
		}
}

